* {
  box-sizing: border-box;
  position: relative;
}

.nav-container {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
}

.nav-left {
  display: flex;
  flex-grow: 0.4;
}

form {
  display: flex;
  flex-grow: 1;
}

.input {
  flex-grow: 1;
  font-size: 1.5em;
}

.nav-right {
  display: flex;
  flex-grow: 0.6;
  gap: 5%;
  margin-left: 2%;
}

button {
  padding: 2%;
  font-size: 1em;
  background-color: green;
  color: white;
  border: transparent;
}

button:hover {
  background-color: lightgreen;
}

.default,
.search {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

div {
  display: grid;
  grid-template-rows: .01fr 1fr .01fr;
  font-size: 1.25em;
  border: 2px solid black;
  text-align: center;
}

.image-container {
  display: flex;
}

[src*="jp" i],
[src*="png" i] {
  width: 50px;
}

img {
  min-width: 100%;
}