* {
  box-sizing: border-box;
  position: relative;
}

.nav-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: whitesmoke;
}

.nav-left {
  display: flex;
  flex-grow: 0.4;
}

form {
  display: flex;
  flex-grow: 1;
}

.input {
  flex-grow: 1;
}

.nav-right {
  display: flex;
  gap: 1%;
  justify-content: center;
}

button,
.submit {
  padding: 1.5%;
  background-color: green;
  color: white;
  border: transparent;
}

button:hover {
  background-color: lightgreen;
}

.default,
.search {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

div {
  display: grid;
  grid-template-rows: .01fr 1fr .01fr;
  border: 1px solid black;
  text-align: center;
  font-size: .95em;
}

.image-container {
  display: flex;
  flex-direction: column;
}

[src*="jp" i],
[src*="png" i] {
  width: 50px;
}

img {
  min-width: 100%;
  min-height: 100%;
}

a {
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .nav-container {
    flex-direction: row;
  }

  .input {
    font-size: 1.5em;
  }

  .nav-right {
    gap: 5%;
    flex-grow: 0.6;
    margin-left: 2%;
    justify-content: start;
  }

  button {
    font-size: 1em;
    padding: 2%;
  }

  .default,
  .search {
    grid-template-columns: repeat(4, 1fr);
  }

  div {
    font-size: 1.1em;
    border: 2px solid black;
  }
}